* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  background: #1a4d2e;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #4f6f52;
  /* border-radius: 20px; */
}

::-webkit-scrollbar-thumb {
  background-color: #e8dfca;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff9595;
}

.main {
  /* width: 95%; */
  /* position: relative; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  background: #1a4d2e;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.466);
}

.input-section {
  /* height: 100px; */
  border-radius: 5px;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  background-color: #4f6f52;
  /* margin: 20px; */

  input {
    padding: 15px;
    width: 600px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: #e8dfca;
    text-transform: capitalize;
  }

  #amount {
    width: 125px;
  }

  #button {
    background-color: #f1f1f1;
    height: 50px;
    width: 125px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }
}

.wrap {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: space-around;
  align-items: center;
}

#data-store {
  background-color: #4f6f52;
  border-radius: 5px;
  width: 60%;
  height: 90%;
  padding: 10px;
  overflow: auto;
}

.data {
  background: #e8dfca;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  transition: 0.5s all ease-in-out;
  color: #1a4d2e;
  span {
    transition: 0.3s all ease-in-out;
    color: rgb(0, 0, 0);
  }
}

.data:hover {
  background-color: #ff9595;
  cursor: pointer;
  span {
    opacity: 1;
    transform: scale(2) rotate(180deg);
  }
}

.data span {
  position: absolute;
  top: 20px;
  left: 50%;
  opacity: 0;
}

.total-exp {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: #4f6f52;
  /* width: 30%; */
  height: 90%;
  padding: 10px;
  border-radius: 20px;
  color: #f5efe6;
  font-size: 20px;
  text-align: center;
  transition: 1s all ease-in-out;
  h1 {
    color: #e8dfca;
    text-shadow: 0px 1px 20px rgb(255, 0, 0);
    font-size: 55px;
  }
}

.animate {
  animation: zoom 1s ease-in-out 0.5s infinite alternate;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

#total-expense {
  color: #;
}

.input-section #button {
  display: none;
}

@media (max-width: 950px) {
  .input-section {
    gap: 10px;

    input {
      width: 100%;
    }

    #button {
      display: flex;
      font-size: 40px;
    }
  }

  .wrap {
    flex-direction: column-reverse;
    gap: 10px;
    height: 80%;
  }

  .total-exp {
    height: 40%;
    width: 90%;
    font-size: 90%;

    h1 {
      font-size: 50px;
    }
  }

  #data-store {
    width: 90%;
  }
}

.alerts {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  /* background-color: #e8dfca; */
  animation: fade 15s ease-in-out 2 normal forwards;

  .a1 {
    padding: 10px;
    width: 40%;
    font-size: 10px;
    text-align: center;
    background-color: #ff9595;
    border-radius: 10px;
    margin: 5px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    left: 100%;
  }
  10% {
    opacity: 1;
    left: 0;
  }
  90% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}
